
.contact {
  width: 100%;
  margin-top: 100px;

  .container__contact-us {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid;
    padding-bottom: 80px;

    .title__contact {
      color: #000000;
      font-family: $garamond;
      font-size: 48px;
      line-height: 55px;
    }

    .contact__us {
      margin-top: 50px;

      .container__input {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin-top: 47px;

        .container__input-row {
          width: 50%;


          label {
            display: block;
            margin-bottom: 12px;
          }

        }

        .container__input-message {
          width: 100%;
          height: auto;

          label {
            display: block;
            margin-bottom: 12px;
          }
        }

        .input  {
          height: 40px;
          width: 260px;
          border: 1px solid #D4D4D4;
          padding-left: 15px;
        }
        .input__message {
          height: 120px;
          width: 540px;
          border: 1px solid #D4D4D4;
          text-align: start;

        }

      }

      .btn  {
        margin-top: 65px;

        .btn-contact  {
          height: 60px;
          width: 180px;
          background-color: #000000;
          color: white;
          padding: 25px 37px;
          text-decoration: none;
          text-align: center;

          span {
            color: #FFFFFF;
            font-family: $nunito;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 10px;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}