@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,500i,600,600i,700,800|Nunito+Sans:200,300,300i,400,400i,600,600i,700,700i,800&display=swap&subset=cyrillic");
html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 85px;
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header .container {
  max-width: 100%;
  height: 100%;
}
.header .header__inner {
  height: inherit;
}
.header .header__inner .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__inner .nav .nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s linear;
}
.header .header__inner .nav .nav__link .title {
  font-size: 13px;
  font-weight: 600;
  line-height: 11px;
  font-family: "Nunito Sans", sans-serif;
  color: #FFFFFF;
}
.header .header__inner .nav .nav__link:hover {
  background-color: #313131;
}
.header .header__inner .nav .nav__link.logo img.logo {
  width: 40px;
  height: 40px;
  margin: 0 140px;
}

.intro {
  display: flex;
  width: 100%;
  height: 100vh;
}
.intro .intro__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.intro .container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  max-width: 1060px;
  z-index: 2;
}
.intro .container .intro-col {
  margin-top: 315px;
  width: 50%;
}
.intro .container .intro-col.left .title {
  color: #fff;
  font-family: "EB Garamond", serif;
  font-size: 80px;
  line-height: 75px;
}
.intro .container .intro-col.right {
  padding-left: 160px;
}
.intro .container .intro-col.right .title {
  color: #FFFFFF;
  font-family: "EB Garamond", serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
}
.intro .container .intro-col.right .subtitle {
  color: #FFFFFF;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
  margin-top: 15px;
}
.intro .container .intro-col.right .btn {
  margin-top: 45px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 27%;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.products {
  width: 100%;
  height: auto;
  margin-bottom: 140px;
}
.products .products-menu {
  margin: 0 auto;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.products .products-menu .products-title {
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.3;
  margin: 0 33px;
}
.products .products-menu .products-title.active {
  opacity: 1;
}
.products .products-store {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  border-top: 1px solid rgba(158, 158, 158, 0.3);
}
.products .products-store .products-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 33.33333%;
  padding: 65px;
  border-right: 1px solid rgba(158, 158, 158, 0.3);
  border-bottom: 1px solid rgba(158, 158, 158, 0.3);
}
.products .products-store .products-item .products-image {
  margin: 0 auto;
  display: block;
  max-width: 220px;
}
.products .products-store .products-item .products-subtitle {
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  margin-top: 40px;
  font-family: "EB Garamond";
}
.products .products-store .products-item .text {
  text-align: center;
  font-size: 16px;
  font-family: "EB Garamond";
  margin-top: 20px;
}
.products .products-store .products-item .text .price {
  text-align: center;
  font-weight: bold;
}
.products .btn-store {
  display: block;
  height: 60px;
  max-width: 160px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 15px 20px 15px 20px;
  border: 1px solid #000000;
  background-color: black;
  transition: background-color 0.2s linear;
}
.products .btn-store .title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  vertical-align: sub;
}

.btn-store:hover {
  background: red;
}

.works {
  max-height: 720px;
  overflow: hidden;
  width: 100%;
}
.works .works-container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1080px;
  height: inherit;
  margin: 0 auto;
}
.works .works-container .works__content {
  width: 50%;
  padding-right: 180px;
  margin-top: 30px;
}
.works .works-container .works__content .works__title {
  font-size: 35px;
  font-family: "EB Garamond", serif;
  color: black;
  line-height: 1.1;
  margin-bottom: 50px;
}
.works .works-container .works__content .works__item_container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
}
.works .works-container .works__content .works__item_container .works__item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 110px;
  padding: 15px 0;
  padding-right: 26px;
  border-top: 1px solid #E5E5E5;
}
.works .works-container .works__content .works__item_container .works__item .works__image {
  height: 100%;
  width: 80px;
}
.works .works-container .works__content .works__item_container .works__item .works__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works .works-container .works__content .works__item_container .works__item .works__text_wrap {
  margin-left: 25px;
  margin-top: 15px;
  text-align: left;
}
.works .works-container .works__content .works__item_container .works__item .works__text_wrap .works__text {
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.works .works-container .works__content .works__item_container .works__item .works__text_wrap .works__data {
  color: #888888;
  font-size: 14px;
  line-height: 10px;
  margin-top: 10px;
}
.works .works-container .works__content .btn-work {
  height: 50px;
  width: 140px;
  background-color: #000000;
  color: white;
  padding: 15px;
  text-decoration: none;
}
.works .works-container .works__content .btn-work span {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
}
.works .works-container .works__photo {
  width: 50%;
  overflow: hidden;
}
.works .works-container .works__photo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 620px;
  background-color: #ACAEB1;
  z-index: -1;
}
.works .works-container .works__photo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.about {
  display: flex;
  width: 100%;
  max-height: 720px;
}
.about .container__about {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  margin: 0 auto;
  height: inherit;
  max-width: 1080px;
}
.about .container__about .about__photo {
  width: 50%;
}
.about .container__about .about__photo:after {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  right: 50%;
  width: 100%;
  height: 620px;
  background-color: #ACAEB1;
  z-index: -1;
}
.about .container__about .about__photo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.about__content {
  width: 50%;
  padding-left: 180px;
  margin-top: 180px;
}
.about__content .about__title {
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px;
}
.about__content .about__text {
  color: #888888;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 50px;
}
.about__content .btn-work {
  height: 50px;
  width: 140px;
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
.about__content .btn-work span {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
}

.art {
  width: 100%;
  margin-top: 140px;
}
.art .art__text_wrap {
  margin-bottom: 100px;
}
.art .art__text_wrap .art__title {
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 35px;
  line-height: 31px;
  margin-bottom: 15px;
  text-align: center;
}
.art .art__text_wrap .art__text {
  opacity: 0.5;
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 19px;
  font-style: italic;
  line-height: 16px;
  text-align: center;
}
.art .art__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}
.art .art__container .art__item {
  width: 240px;
  height: auto;
  margin: 0 6px;
}
.art .art__container .art__item img {
  width: 100%;
  height: 240px;
  margin-bottom: 12px;
}
.art .art__container .art__item img:last-child {
  margin-bottom: 0;
}
.art .art__container .art__item:nth-child(1) {
  padding-top: 185px;
}
.art .art__container .art__item:nth-child(2) {
  padding-top: 60px;
}
.art .art__container .art__item:nth-child(4) {
  padding-top: 120px;
}

.btn-art {
  height: 50px;
  width: 140px;
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}
.btn-art span {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe {
  border-top: 1px solid #E5E5E5;
  margin-top: 100px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 100px;
}
.subscribe .subscribe__title {
  margin-top: 100px;
  text-align: center;
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
.subscribe .container__sub {
  margin-bottom: 120px;
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
  flex-flow: row nowrap;
}
.subscribe input {
  width: 100%;
  max-width: 480px;
  height: 50px;
  max-height: 50px;
  opacity: 0.03;
  background-color: #000000;
  color: black;
}
.subscribe .btn-input {
  height: 50px;
  width: 140px;
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
}
.subscribe span {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
