@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,500i,600,600i,700,800|Nunito+Sans:200,300,300i,400,400i,600,600i,700,700i,800&display=swap&subset=cyrillic');

$nunito: 'Nunito Sans', sans-serif;
$garamond: 'EB Garamond', serif;

html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

textarea, select {
  resize: none;
  outline: none;
}

h2 {
  font-weight: normal;
}

button {
  border: none;
}


input {
  border: none;
  outline: none;
}

@import "main";
@import "blog";
@import "articles";
@import "contacts";
@import "about";