.about_us {
  width: 100%;

  .container__about_us {
    width: 100%;
    flex-flow: row nowrap;
    height: auto;

    .container__about-title {
      margin: 0 auto;
      margin-top: 160px;
      display: flex;
      flex-flow: row nowrap;
      max-width: 420px;

      .about__title {
        color: #000000;
        font-family: $garamond;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
      }
    }

    .container__about-content {
      display: flex;
      width: 100%;
      margin: 0 auto;
      margin-top: 70px;
      max-width: 1000px;

      .about-us__content {
        margin-top: 190px;
        width: 50%;

        .about-us__title {
          color: #000000;
          font-family: $garamond;
          font-size: 35px;
          line-height: 40px;
          padding-left: 10px;
        }
        .about-us__subtitle {
          margin-top: 30px;
          color: #000000;
          font-family: $nunito;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          max-width: 360px;
        }
        .about-us__text {
          margin-top: 15px;
          color: #888888;
          font-family: $nunito;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          max-width: 360px;
        }
      }
    }
    .about__image {
      width: 50%;

      img {
        width: 100%;
        object-fit: cover;
        max-width: 520px;
      }
    }
  }
}

.container__story {
  height: auto;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;

  .story__content {
    width: 50%;
    margin: 0 auto;
    margin-left: 120px;
    margin-top: 100px;

    .story__title {
      color: #000000;
      font-family: $garamond;
      font-size: 35px;
      line-height: 40px;
    }
    .story__text  {
      margin-top: 15px;
      color: #888888;
      font-family: $nunito;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      max-width: 360px;
    }
  }

  .story__photo {
    width: 50%;

    img {
      object-fit: cover;
      max-width: 510px;
    }
  }
}

.approach {
  width: 100%;

  .container__approach {
    width: 100%;
    flex-flow: row nowrap;
    height: auto;

    .container__approach-content {
      display: flex;
      width: 100%;
      margin-top: 80px;


      .approach__content {
        margin: 0 auto;
        margin-top: 170px;
        width: 50%;
        max-width: 360px;


        .approach__title {
          color: #000000;
          font-family: $garamond;
          font-size: 35px;
          line-height: 40px;
          padding-left: 10px;
        }
        .approach__text {
          margin-top: 15px;
          color: #888888;
          font-family: $nunito;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          max-width: 360px;
        }
      }
    }
    .approach__image {
      width: 50%;
      display: flex;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  .about_us{
    .container__about_us{
      width: 100%;
      .container__about-content {
        max-width: 700px;

        .about-us__content  {
          margin-top: 0;

          .about-us__subtitle {
            max-width: 300px;
          }
          .about-us__text {
            max-width: 300px;
          }
        }
      }
    }
  }

  .story  {
    width: 100%;

    .container__story {
      max-width: 700px;

      .story__photo {
        img {
          width: 100%;
          max-width: 355px;
        }
      }
    }
  }

  .approach{
    .container__approach  {
      width: 100%;
      .container__approach-content  {
        .approach__content  {
          margin-top: 0;
          max-width: 340px;
          padding-left: 75px;
        }
      }
    }

  }

  .art  {
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
    .art__text_wrap {
      margin-top: 70px;
    }

    .art__container {
      width: 100%;

      .art__item  {
        max-width: 185px;

        img {
          width: 100%;
          max-width: 200px;
          max-height: 190px;
        }
      }
    }
  }


}

@media screen and (max-width: 720px)  {

  .about_us {
    width: 100%;
    .container__about_us  {
      .container__about-title {
        display: none;
      }
      .container__about-content {
        flex-flow: column;
        .about-us__content  {
          padding: 0 20px;
          width: 100%;

          .about-us__text {
            margin-bottom: 40px;
          }
        }
      }
      .about__image {
        width: 100%;
        padding-left: 20px;
      }
    }
  }

  .art  {
    .art__container {
      .art__item  {
        max-width: 135px;
      }

    }
  }

  .story  {
    .container__story {
      flex-flow: column-reverse;
      margin-top: 0;

      .story__content {
        margin-left: 20px;
        max-width: 280px;
        margin-top: 70px;
        width: 100%;
      }
      .story__photo {
        padding-right: 20px;
        margin-top: 58px;
        width: 100%;
      }
    }
  }

  .approach {
    .container__approach  {
      .container__approach-content  {
        flex-flow: column;

        .approach__content  {
          width: 100%;
          padding: 0 20px;
        }
        .approach__image  {
          margin-top: 50px;
          width: 100%;
        }
      }
    }
  }



}