@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,500i,600,600i,700,800|Nunito+Sans:200,300,300i,400,400i,600,600i,700,700i,800&display=swap&subset=cyrillic");
html {
  font-size: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%; }

textarea, select {
  resize: none;
  outline: none; }

h2 {
  font-weight: normal; }

button {
  border: none; }

input {
  border: none;
  outline: none; }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.btn-work {
  display: block; }

.header {
  position: fixed;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 100;
  background-color: #fff;
  top: 0; }
  .header .container {
    max-width: 100%;
    height: 100%; }
    .header .container .header__inner {
      height: inherit; }
      .header .container .header__inner .navigation {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .header .container .header__inner .navigation .navigation-container {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          height: 100%; }
        .header .container .header__inner .navigation .navigation-logo {
          min-width: 320px;
          width: 100%;
          height: 100%; }
          .header .container .header__inner .navigation .navigation-logo img.logo {
            width: 40px;
            height: 40px;
            margin: 0 auto; }
        .header .container .header__inner .navigation .navigation-right {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          height: 100%; }
        .header .container .header__inner .navigation .nav__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          transition: background-color .2s linear; }
          .header .container .header__inner .navigation .nav__link.logo {
            max-width: 320px; }
            .header .container .header__inner .navigation .nav__link.logo .logo__link {
              width: 40px;
              height: 40px; }
              .header .container .header__inner .navigation .nav__link.logo .logo__link .logo-img {
                background-image: url("../img/logo_icon.svg");
                width: 100%;
                height: 100%; }
          .header .container .header__inner .navigation .nav__link .title {
            font-size: 13px;
            font-weight: 600;
            line-height: 11px;
            font-family: "Nunito Sans", sans-serif;
            color: #000; }
          .header .container .header__inner .navigation .nav__link.glass .icon {
            background-image: url("../img/magnifyng-glass black.svg");
            height: 20px;
            width: 20px; }
          .header .container .header__inner .navigation .nav__link.cart .icon {
            background-image: url("../img/shopping-cart black.svg");
            height: 20px;
            width: 20px; }
          .header .container .header__inner .navigation .nav__link.avatar .icon {
            background-image: url("../img/avatar black.svg");
            height: 20px;
            width: 20px; }
          .header .container .header__inner .navigation .nav__link.close {
            display: none; }
  .header.white {
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent; }
    .header.white .container .header__inner .navigation .nav__link .title {
      color: #FFFFFF; }
    .header.white .container .header__inner .navigation .nav__link.glass .icon {
      background-image: url("../img/magnifying-glass.svg");
      height: 20px;
      width: 20px; }
    .header.white .container .header__inner .navigation .nav__link.cart .icon {
      background-image: url("../img/shopping-cart.svg");
      height: 20px;
      width: 20px; }
    .header.white .container .header__inner .navigation .nav__link.avatar .icon {
      background-image: url("../img/avatar.svg");
      height: 20px;
      width: 20px; }
    .header.white .container .header__inner .navigation .nav__link.close {
      display: none; }
    .header.white .container .header__inner .navigation .nav__link.logo .logo__link {
      height: 40px;
      width: 40px; }
      .header.white .container .header__inner .navigation .nav__link.logo .logo__link .logo-img {
        width: 100%;
        height: 100%;
        background-image: url("../img/logo_icon1.svg"); }

.footer {
  padding-top: 100px;
  border-top: 1px solid #E5E5E5; }
  .footer img {
    width: auto; }
  .footer .footer__container {
    width: 100%;
    padding-bottom: 100px; }
    .footer .footer__container .footer__items_container {
      display: flex;
      justify-content: space-between; }
      .footer .footer__container .footer__items_container .footer__item {
        width: 25%;
        flex-flow: row nowrap;
        height: auto;
        padding: 0 90px; }
        .footer .footer__container .footer__items_container .footer__item .footer__title {
          position: relative;
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 10px;
          margin-bottom: 43px; }
          .footer .footer__container .footer__items_container .footer__item .footer__title::after {
            content: '';
            display: block;
            width: 20px;
            height: 1px;
            background-color: #DDDDDD;
            position: absolute;
            bottom: -20px; }
        .footer .footer__container .footer__items_container .footer__item .footer__text {
          color: #666666;
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 26px; }
        .footer .footer__container .footer__items_container .footer__item .footer__contact {
          color: #666666;
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 26px;
          margin-bottom: 30px; }
        .footer .footer__container .footer__items_container .footer__item .footer__social {
          display: flex;
          width: 100%; }
          .footer .footer__container .footer__items_container .footer__item .footer__social .social {
            position: relative;
            width: 32px;
            height: 32px;
            margin-right: 15px;
            background: #000;
            cursor: pointer; }
            .footer .footer__container .footer__items_container .footer__item .footer__social .social img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              object-fit: contain; }
    .footer .footer__container .footer__logo {
      padding: 0 90px; }
  .footer .subfooter {
    width: 100%;
    border-top: 1px solid #E5E5E5; }
    .footer .subfooter .author__containter {
      height: 100%;
      display: flex;
      width: 100%;
      flex-flow: row nowrap;
      align-items: center; }
    .footer .subfooter .author__text {
      color: #666666;
      font-family: "Nunito Sans", sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 10px;
      margin-top: 40px;
      justify-content: space-between;
      width: 100%;
      margin-left: 90px;
      margin-bottom: 30px; }
      .footer .subfooter .author__text span {
        justify-content: space-between; }

.intro {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 1000;
  opacity: 0.9; }
  .intro .intro__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; }
  .intro .intro-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  .intro .container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    max-width: 1060px;
    z-index: 2; }
    .intro .container .intro-col {
      margin-top: 360px;
      width: 50%; }
      .intro .container .intro-col.left .intro-title {
        color: #fff;
        font-family: "EB Garamond", serif;
        font-size: 80px;
        line-height: 75px; }
      .intro .container .intro-col.right {
        padding-left: 160px; }
        .intro .container .intro-col.right .title {
          color: #FFFFFF;
          font-family: "EB Garamond", serif;
          font-size: 35px;
          font-weight: 600;
          line-height: 40px; }
        .intro .container .intro-col.right .subtitle {
          color: #FFFFFF;
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: 1px;
          margin-top: 17px; }
        .intro .container .intro-col.right .btn {
          margin-top: 30px;
          text-decoration: none;
          color: #FFFFFF;
          font-size: 12px;
          text-transform: uppercase;
          border: 1px solid #FFFFFF;
          width: 100px;
          text-align: center;
          padding: 15px 0;
          font-weight: bold; }

.products {
  width: 100%;
  height: auto;
  margin-bottom: 140px; }
  .products .products-menu {
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    text-align: center; }
    .products .products-menu .products-title {
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 20px;
      line-height: 30px;
      opacity: 0.3;
      margin: 0 33px; }
      .products .products-menu .products-title.active {
        opacity: 1; }
  .products .products-store {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    border-top: 1px solid rgba(158, 158, 158, 0.3); }
    .products .products-store .products-item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 33.33333%;
      padding: 65px;
      border-right: 1px solid rgba(158, 158, 158, 0.3);
      border-bottom: 1px solid rgba(158, 158, 158, 0.3); }
      .products .products-store .products-item .products-image {
        margin: 0 auto;
        display: block;
        max-width: 220px; }
      .products .products-store .products-item .products-subtitle {
        text-align: center;
        font-size: 16px;
        opacity: 0.5;
        margin-top: 40px;
        font-family: "EB Garamond", serif; }
      .products .products-store .products-item .text {
        text-align: center;
        font-size: 16px;
        font-family: "EB Garamond", serif;
        margin-top: 20px; }
        .products .products-store .products-item .text .price {
          text-align: center;
          font-weight: bold; }
  .products .btn-store {
    display: block;
    height: 60px;
    max-width: 160px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 15px 20px 15px 20px;
    border: 1px solid #000000;
    background-color: black;
    transition: background-color .2s linear; }
    .products .btn-store .title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      font-family: "Nunito Sans", sans-serif;
      font-weight: bold;
      vertical-align: sub; }

.works {
  max-height: 720px;
  overflow: hidden;
  width: 100%; }
  .works .works-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1080px;
    height: inherit;
    margin: 0 auto; }
    .works .works-container .works__content {
      width: 50%;
      padding-right: 180px;
      margin-top: 30px; }
      .works .works-container .works__content .works__title {
        font-size: 35px;
        font-family: "EB Garamond", serif;
        color: black;
        line-height: 1.1;
        margin-bottom: 50px; }
      .works .works-container .works__content .works__item_container {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 50px; }
        .works .works-container .works__content .works__item_container .works__item {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          height: 110px;
          padding: 15px 0;
          padding-right: 26px;
          border-top: 1px solid #E5E5E5; }
          .works .works-container .works__content .works__item_container .works__item .works__image {
            height: 100%;
            width: 80px; }
            .works .works-container .works__content .works__item_container .works__item .works__image img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .works .works-container .works__content .works__item_container .works__item .works__text_wrap {
            margin-left: 25px;
            margin-top: 15px;
            text-align: left; }
            .works .works-container .works__content .works__item_container .works__item .works__text_wrap .works__text {
              color: #000000;
              font-family: "EB Garamond", serif;
              font-size: 16px;
              font-weight: 500;
              line-height: 18px; }
            .works .works-container .works__content .works__item_container .works__item .works__text_wrap .works__data {
              color: #888888;
              font-size: 14px;
              line-height: 10px;
              margin-top: 10px; }
      .works .works-container .works__content .btn-work {
        display: inline;
        height: 50px;
        width: 140px;
        background-color: #000000;
        color: white;
        padding: 20px 35px;
        text-decoration: none; }
        .works .works-container .works__content .btn-work span {
          color: #FFFFFF;
          font-family: "Nunito Sans", sans-serif;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 10px;
          text-align: center;
          text-transform: uppercase; }
    .works .works-container .works__photo {
      width: 50%;
      overflow: hidden; }
      .works .works-container .works__photo:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 620px;
        background-color: #ACAEB1;
        z-index: -1; }
      .works .works-container .works__photo img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover; }

.about {
  display: flex;
  width: 100%;
  max-height: 720px; }
  .about .container__about {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    margin: 0 auto;
    height: inherit;
    max-width: 1080px; }
    .about .container__about .about__photo {
      width: 50%; }
      .about .container__about .about__photo:after {
        content: '';
        display: block;
        position: absolute;
        top: -100px;
        right: 50%;
        width: 100%;
        height: 620px;
        background-color: #ACAEB1;
        z-index: -1; }
      .about .container__about .about__photo img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover; }
    .about .container__about .about__content {
      width: 50%;
      padding-left: 180px;
      margin-top: 180px; }
      .about .container__about .about__content .about__title {
        color: #000000;
        font-family: "EB Garamond", serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 30px; }
      .about .container__about .about__content .about__text {
        color: #888888;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 50px; }
      .about .container__about .about__content .btn-work {
        height: 50px;
        width: 140px;
        background-color: #000000;
        color: white;
        padding: 15px 25px;
        text-decoration: none; }
        .about .container__about .about__content .btn-work span {
          color: #FFFFFF;
          font-family: "Nunito Sans", sans-serif;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 10px;
          text-align: center;
          text-transform: uppercase; }

.art {
  width: 100%;
  margin-top: 140px; }
  .art .art__text_wrap {
    margin-bottom: 100px; }
    .art .art__text_wrap .art__title {
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 35px;
      line-height: 31px;
      margin-bottom: 15px;
      text-align: center; }
    .art .art__text_wrap .art__text {
      opacity: 0.5;
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 19px;
      font-style: italic;
      line-height: 16px;
      text-align: center; }
  .art .art__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px; }
    .art .art__container .art__item {
      width: 240px;
      height: auto;
      margin: 0 6px; }
      .art .art__container .art__item img {
        width: 100%;
        height: 240px;
        margin-bottom: 12px; }
        .art .art__container .art__item img:last-child {
          margin-bottom: 0; }
      .art .art__container .art__item:nth-child(1) {
        padding-top: 185px; }
      .art .art__container .art__item:nth-child(2) {
        padding-top: 60px; }
      .art .art__container .art__item:nth-child(4) {
        padding-top: 120px; }
  .art .btn-art {
    height: 50px;
    width: 140px;
    background-color: #000000;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center; }
    .art .btn-art span {
      color: #FFFFFF;
      font-family: "Nunito Sans", sans-serif;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 10px;
      text-align: center;
      text-transform: uppercase; }

.subscribe {
  border-top: 1px solid #E5E5E5;
  margin-top: 100px;
  margin-bottom: 120px;
  width: 100%;
  height: auto; }
  .subscribe .subscribe__title {
    margin-top: 100px;
    text-align: center;
    color: #000000;
    font-family: "EB Garamond", serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px; }
  .subscribe .container__sub {
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    flex-flow: row nowrap; }
    .subscribe .container__sub .container__input {
      display: flex;
      margin: 0 auto;
      max-width: 480px; }
      .subscribe .container__sub .container__input input {
        width: 100%;
        max-width: 480px;
        height: 50px;
        max-height: 50px;
        background-color: rgba(0, 0, 0, 0.03);
        padding-left: 20px;
        color: #000000;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 26px; }
        .subscribe .container__sub .container__input input::placeholder {
          color: #666666; }
      .subscribe .container__sub .container__input .btn-input {
        height: 50px;
        width: 140px;
        background-color: #000000;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        text-align: center; }
        .subscribe .container__sub .container__input .btn-input span {
          color: #FFFFFF;
          font-family: "Nunito Sans", sans-serif;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase; }

.black {
  text-decoration: black; }

@media screen and (max-width: 1024px) and (min-width: 720px) {
  .intro .container {
    max-width: 840px; }
    .intro .container .intro-col.right {
      padding-left: 60px; }

  .products {
    margin-bottom: 100px; }

  .works .works-container .works__content {
    padding: 0 50px; }
    .works .works-container .works__content .btn-work {
      display: inline; }

  .about {
    margin-top: 120px; }
    .about .container__about .about__content {
      padding-right: 50px;
      padding-left: 130px;
      margin-top: 100px; }

  .art .art__container .art__item {
    max-width: 220px; }

  .footer .footer__container .footer__items_container .footer__item:first-child {
    padding: 0 20px; }
  .footer .footer__container .footer__items_container .footer__item:nth-child(2) {
    padding-left: 60px; }
  .footer .footer__container .footer__items_container .footer__item:nth-child(3) {
    padding: 0 20px; }
  .footer .footer__container .footer__items_container .footer__item:nth-child(4) {
    padding: 0 20px; } }
@media screen and (max-width: 720px) {
  h2, h3 {
    font-size: 24px;
    font-weight: normal; }

  .header {
    height: 70px; }
    .header .logo {
      background-image: url("../img/logo_icon.svg");
      object-fit: cover; }
    .header .container {
      padding: 0 20px; }
      .header .container .header__inner .navigation .navigation-container {
        display: none; }
      .header .container .header__inner .navigation .navigation-right {
        width: auto;
        align-items: center; }
        .header .container .header__inner .navigation .navigation-right .nav__link {
          margin-left: 10px; }
      .header .container .header__inner .navigation .nav__link {
        border: none;
        height: 40px;
        width: 40px; }
        .header .container .header__inner .navigation .nav__link.close {
          display: flex; }
          .header .container .header__inner .navigation .nav__link.close .icon {
            display: block;
            background-image: url("../img/close-black.svg");
            width: 15px;
            height: 15px; }
        .header .container .header__inner .navigation .nav__link.currency {
          display: none; }
        .header .container .header__inner .navigation .nav__link.glass .icon {
          background-image: url("../img/magnifyng-glass black.svg");
          width: 15px;
          height: 15px; }
    .header.white .container .header__inner .navigation .navigation-right .nav__link.close {
      display: flex;
      height: 40px;
      width: 40px;
      border: none;
      margin-left: 10px; }
      .header.white .container .header__inner .navigation .navigation-right .nav__link.close .icon {
        display: block;
        background-image: url("../img/close.svg");
        height: 15px;
        width: 15px; }
    .header.white .container .header__inner .navigation .navigation-right .nav__link.glass .icon {
      background-image: url("../img/magnifying-glass.svg"); }
    .header.white .container .header__inner .navigation .navigation-right .nav__link.cart .icon {
      background-image: url("../img/shopping-cart.svg"); }

  .footer {
    padding-top: 35px; }
    .footer .footer__container {
      padding-bottom: 45px; }
      .footer .footer__container .footer__items_container {
        flex-flow: column; }
        .footer .footer__container .footer__items_container .footer__item {
          width: 100%;
          border-bottom: 1px solid #E5E5E5; }
          .footer .footer__container .footer__items_container .footer__item:first-child {
            padding: 0 25px; }
          .footer .footer__container .footer__items_container .footer__item:nth-child(2) {
            display: none; }
          .footer .footer__container .footer__items_container .footer__item:nth-child(3) {
            display: none; }
          .footer .footer__container .footer__items_container .footer__item:nth-child(4) {
            margin-top: 35px;
            border-bottom: none;
            padding: 0 25px; }
          .footer .footer__container .footer__items_container .footer__item .footer__title {
            font-size: 22px; }
          .footer .footer__container .footer__items_container .footer__item .footer__social .social {
            width: 40px;
            height: 40px; }
          .footer .footer__container .footer__items_container .footer__item .footer__text {
            margin-bottom: 35px; }
      .footer .footer__container .footer__logo {
        display: none; }
    .footer .subfooter .author__text {
      margin-left: 0;
      text-align: center; }

  .intro .container {
    max-width: 380px;
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    height: auto; }
    .intro .container .intro-col {
      margin-top: 220px;
      width: 100%; }
      .intro .container .intro-col.left .intro-title {
        font-size: 50px;
        font-weight: 500;
        line-height: 45px; }
      .intro .container .intro-col:nth-child(2) {
        margin-top: 20px;
        width: 100%;
        padding: 0; }
        .intro .container .intro-col:nth-child(2) .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px; }
      .intro .container .intro-col .subtitle {
        display: none; }

  .products {
    display: flex;
    flex-flow: column; }
    .products .products-menu .products-title:nth-child(2) {
      display: none; }
    .products .products-menu .products-title:nth-child(3) {
      display: none; }
    .products .products-store .products-item {
      width: 100%;
      border-right: none; }
      .products .products-store .products-item:nth-child(4) {
        display: none; }
      .products .products-store .products-item:nth-child(5) {
        display: none; }
      .products .products-store .products-item:nth-child(6) {
        display: none; }
      .products .products-store .products-item:nth-child(7) {
        display: none; }
      .products .products-store .products-item:nth-child(8) {
        display: none; }
      .products .products-store .products-item:nth-child(9) {
        display: none; }

  .works {
    width: 100%; }
    .works .works-container {
      display: flex;
      flex-flow: column;
      width: 100%; }
      .works .works-container .works__title {
        text-align: center;
        font-size: 24px; }
      .works .works-container .works__content {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        background-color: white;
        margin-bottom: 50px; }
        .works .works-container .works__content .btn-work {
          display: none; }
      .works .works-container .works__photo {
        display: none; }

  .about .container__about {
    display: flex;
    flex-flow: column; }
    .about .container__about .about__photo {
      width: 100%;
      text-align: center; }
      .about .container__about .about__photo img {
        width: 100%;
        object-fit: cover;
        max-width: 260px;
        max-height: 340px; }
      .about .container__about .about__photo:after {
        height: 410px;
        width: 200px;
        left: 0;
        top: -35px; }
    .about .container__about .about__content {
      width: 100%;
      margin-top: 50px;
      padding: 0 20px; }
      .about .container__about .about__content .about__title {
        font-size: 24px;
        margin-bottom: 20px; }

  .art {
    margin-top: 70px; }
    .art .art__text_wrap {
      margin-bottom: 50px; }
      .art .art__text_wrap .art__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px; }
    .art .art__container {
      margin-bottom: 50px; }
      .art .art__container .art__item {
        width: 100%;
        max-width: 135px;
        margin: 0 8px; }
        .art .art__container .art__item img {
          width: 135px;
          height: 135px; }
        .art .art__container .art__item:nth-child(1) {
          display: none; }
        .art .art__container .art__item:nth-child(2) {
          padding-top: 0; }
        .art .art__container .art__item:nth-child(3) {
          padding-top: 20px; }
        .art .art__container .art__item:nth-child(4) {
          display: none; }

  .subscribe {
    margin-top: 70px;
    margin-bottom: 70px; }
    .subscribe .subscribe__title {
      margin-top: 70px;
      font-size: 24px; }
    .subscribe .container__sub {
      padding: 0 20px; }
      .subscribe .container__sub .container__input {
        width: 100%;
        flex-flow: column; }
        .subscribe .container__sub .container__input .btn-input {
          margin-top: 10px;
          width: 100%;
          max-width: none; } }
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.our__blog {
  width: 100%;
  height: auto;
  margin-top: 80px; }
  .our__blog .container__title {
    display: flex;
    width: 100%;
    justify-content: center; }
    .our__blog .container__title .blog__title {
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 35px;
      line-height: 28px;
      text-align: center;
      position: relative; }
  .our__blog .blog__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding-top: 80px;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between; }
  .our__blog .blog__col {
    width: 100%;
    height: auto;
    padding: 0 15px;
    max-width: 330px; }
    .our__blog .blog__col .blog__items {
      max-width: 330px; }
      .our__blog .blog__col .blog__items .blog__header {
        height: 300px;
        position: relative; }
        .our__blog .blog__col .blog__items .blog__header img {
          object-fit: cover;
          width: 100%; }
        .our__blog .blog__col .blog__items .blog__header:after {
          content: "";
          display: block;
          width: 300px;
          height: 300px;
          border: 1px solid #E5E5E5;
          bottom: -20px;
          right: -20px;
          z-index: -1;
          position: absolute; }
      .our__blog .blog__col .blog__items .blog__date {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 98px;
        width: 98px;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        color: #000000;
        font-size: 40px;
        line-height: 1.4;
        flex-flow: column;
        background-color: #ffffff;
        text-align: center; }
        .our__blog .blog__col .blog__items .blog__date .date {
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 22px; }
    .our__blog .blog__col .blog__content {
      width: 100%;
      display: flex;
      margin-top: 50px;
      flex-wrap: wrap; }
      .our__blog .blog__col .blog__content .blog__subtitle {
        width: 100%;
        color: #000000;
        font-family: "EB Garamond", serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px; }
      .our__blog .blog__col .blog__content .blog__text {
        margin-top: 10px;
        color: #888888;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px; }
    .our__blog .blog__col:nth-child(2) {
      padding-top: 140px; }
    .our__blog .blog__col:nth-child(3) {
      padding-top: 200px; }
    .our__blog .blog__col:nth-child(4) {
      padding-top: 120px; }
    .our__blog .blog__col:nth-child(5) {
      padding-top: 175px; }
    .our__blog .blog__col:nth-child(6) {
      padding-top: 220px; }

.count {
  margin-top: 60px;
  width: 100%; }
  .count .container__count {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    position: relative;
    margin-bottom: 120px; }
    .count .container__count .container__content-count {
      align-items: center;
      display: flex;
      height: 40px;
      width: 100%;
      max-width: 250px;
      justify-content: center;
      margin: 0 auto; }
  .count .count__items {
    padding: 0 15px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #1A1A1A; }
  .count .count__items-second {
    background-color: #1A1A1A;
    height: 40px;
    width: 40px; }
    .count .count__items-second .count__second {
      color: #FFFFFF;
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      text-align: center; }

@media screen and (max-width: 1024px) {
  .our__blog .blog__container {
    max-width: 920px; }
  .our__blog .blog__col {
    max-width: 280px; }
    .our__blog .blog__col .blog__items .blog__header {
      max-width: 270px;
      height: 280px; }
    .our__blog .blog__col .blog__items .blog__header:after {
      content: "";
      display: block;
      width: 269px;
      height: 300px;
      border: 1px solid #E5E5E5;
      bottom: -20px;
      right: -20px;
      z-index: 1;
      position: absolute; } }
@media screen and (max-width: 720px) {
  .our__blog .blog__container {
    padding-top: 50px; }
    .our__blog .blog__container .blog__col {
      width: 100%;
      max-width: 300px;
      padding: 0;
      margin-bottom: 70px; }
      .our__blog .blog__container .blog__col .blog__content {
        margin-left: 20px; }
      .our__blog .blog__container .blog__col .blog__items .blog__header {
        max-width: 300px; }
        .our__blog .blog__container .blog__col .blog__items .blog__header:after {
          display: none; }
        .our__blog .blog__container .blog__col .blog__items .blog__header .blog__date {
          bottom: -20px; }
  .our__blog .container__title .blog__title {
    font-size: 24px;
    font-weight: 500; }

  .count {
    margin-top: 0; }
    .count .container__count {
      margin-bottom: 70px; } }
.intro_articles {
  width: 100%; }
  .intro_articles .container__intro {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    width: 100%;
    max-width: 1160px;
    flex-flow: column; }
    .intro_articles .container__intro .articles__date {
      color: #888888;
      font-family: "EB Garamond", serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 12px;
      text-align: center; }
    .intro_articles .container__intro .articles__title {
      margin: 0 auto;
      max-width: 470px;
      margin-top: 15px;
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 35px;
      line-height: 35px;
      text-align: center; }
    .intro_articles .container__intro .articles__photo {
      margin-top: 50px;
      width: 100%; }
      .intro_articles .container__intro .articles__photo img {
        width: 100%;
        object-fit: cover; }

.revists {
  margin-top: 80px;
  width: 100%; }
  .revists .container__revists {
    flex-flow: row nowrap;
    position: relative;
    width: 100%; }
    .revists .container__revists .container__revists-left {
      position: absolute;
      width: 100%;
      max-width: 280px;
      display: flex;
      flex-flow: column;
      margin-left: 80px; }
      .revists .container__revists .container__revists-left .revists__item {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        padding: 15px 0;
        padding-right: 26px;
        border-right: 1px solid; }
        .revists .container__revists .container__revists-left .revists__item:nth-child(2) img {
          width: 100%;
          max-width: 175px; }
        .revists .container__revists .container__revists-left .revists__item:nth-child(3) {
          border-top: 1px solid #E5E5E5;
          width: 100%; }
          .revists .container__revists .container__revists-left .revists__item:nth-child(3) img {
            width: 100%;
            object-fit: cover; }
        .revists .container__revists .container__revists-left .revists__item .revists__title {
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 24px;
          font-weight: 500;
          line-height: 20px; }
        .revists .container__revists .container__revists-left .revists__item .revists__text-wrap {
          margin-left: 20px;
          margin-top: 15px;
          text-align: left; }
          .revists .container__revists .container__revists-left .revists__item .revists__text-wrap .revists-text {
            color: #000000;
            font-family: "EB Garamond", serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px; }
          .revists .container__revists .container__revists-left .revists__item .revists__text-wrap .revists__date {
            color: #888888;
            font-family: "EB Garamond", serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 10px;
            margin-top: 10px; }
        .revists .container__revists .container__revists-left .revists__item .btn-work {
          height: 50px;
          width: 140px;
          background-color: #000000;
          color: white;
          padding: 15px;
          text-decoration: none;
          text-align: center; }
          .revists .container__revists .container__revists-left .revists__item .btn-work span {
            color: #FFFFFF;
            font-family: "Nunito Sans", sans-serif;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 10px;
            text-align: center;
            text-transform: uppercase; }
    .revists .container__revists .container__revists-right {
      display: flex;
      flex-flow: column;
      width: 100%;
      border-bottom: 1px solid #E5E5E5;
      max-width: 680px;
      margin: 0 auto; }
      .revists .container__revists .container__revists-right .revists__content {
        display: flex;
        margin: 0 auto;
        flex-flow: column; }
        .revists .container__revists .container__revists-right .revists__content .revists__text-wrap {
          position: relative;
          width: 100%;
          max-width: 540px;
          color: #888888;
          font-family: "Nunito Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          margin-bottom: 50px; }
          .revists .container__revists .container__revists-right .revists__content .revists__text-wrap .revists-text-title {
            color: #000000;
            font-family: "Nunito Sans", sans-serif;
            font-size: 42px;
            font-weight: bold;
            line-height: 22px;
            position: absolute;
            left: -30px;
            top: -5px; }
      .revists .container__revists .container__revists-right .revists__title-wrap {
        width: 100%;
        max-width: 680px;
        color: #000000;
        font-family: "EB Garamond", serif;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto; }
      .revists .container__revists .container__revists-right .revists__text-wrap-second {
        margin-top: 50px;
        position: relative;
        width: 100%;
        max-width: 540px;
        color: #888888;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 40px; }
      .revists .container__revists .container__revists-right .container__revists-photo {
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-flow: row nowrap;
        max-width: 720px; }
        .revists .container__revists .container__revists-right .container__revists-photo img {
          width: 100%;
          object-fit: cover; }

.related {
  width: 100%;
  margin-top: 80px;
  height: auto; }
  .related .container__related {
    width: 100%;
    flex-flow: row nowrap;
    margin-bottom: 120px; }
    .related .container__related .container__related-title {
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      max-width: 450px; }
    .related .container__related .related__content {
      display: flex;
      width: 100%;
      position: relative;
      padding-top: 100px;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px; }
    .related .container__related .blog__col {
      width: 100%;
      height: auto;
      padding: 0 15px;
      max-width: 330px; }
      .related .container__related .blog__col .blog__items {
        max-width: 300px; }
        .related .container__related .blog__col .blog__items .blog__header {
          height: 300px;
          position: relative; }
          .related .container__related .blog__col .blog__items .blog__header img {
            width: 100%;
            object-fit: cover; }
          .related .container__related .blog__col .blog__items .blog__header:after {
            content: "";
            display: block;
            width: 300px;
            height: 300px;
            border: 1px solid #E5E5E5;
            bottom: -20px;
            right: -20px;
            z-index: -1;
            position: absolute; }
      .related .container__related .blog__col .blog__date {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 98px;
        width: 98px;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        color: #000000;
        font-size: 40px;
        line-height: 1.4;
        flex-flow: column;
        background-color: #ffffff;
        text-align: center; }
        .related .container__related .blog__col .blog__date .date {
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 22px; }
      .related .container__related .blog__col .blog__content {
        width: 100%;
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap; }
        .related .container__related .blog__col .blog__content .blog__subtitle {
          width: 100%;
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 20px; }
        .related .container__related .blog__col .blog__content .blog__text {
          margin-top: 10px;
          color: #888888;
          font-family: "Nunito Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px; }
      .related .container__related .blog__col:nth-child(2) {
        padding-top: 140px; }
      .related .container__related .blog__col:nth-child(3) {
        padding-top: 200px; }

@media screen and (max-width: 1024px) {
  .intro .container__intro .articles__title {
    margin-bottom: 50px; }
  .intro .container__intro .articles__photo {
    max-width: 920px;
    margin: 0 auto; }

  .revists .container__revists .container__revists-left {
    display: none; }
  .revists .container__revists .container__revists-right {
    width: 100%; }

  .related .container__related {
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 120px; }
    .related .container__related .blog__col {
      max-width: 280px; }
      .related .container__related .blog__col .blog__items .blog__header {
        max-width: 270px;
        height: 280px; }
      .related .container__related .blog__col .blog__items .blog__header:after {
        content: "";
        display: block;
        width: 269px;
        height: 300px;
        border: 1px solid #E5E5E5;
        bottom: -20px;
        right: -20px;
        z-index: 1;
        position: absolute; } }
@media screen and (max-width: 720px) {
  .intro_articles .container__intro {
    margin-top: 140px; }
    .intro_articles .container__intro .articles__date {
      color: #888888;
      font-family: "EB Garamond", serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 12px; }
    .intro_articles .container__intro .articles__title {
      font-family: "EB Garamond", serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      text-align: center; }
    .intro_articles .container__intro .articles__photo {
      height: 100%;
      width: 100%; }
      .intro_articles .container__intro .articles__photo img {
        width: 100%;
        object-fit: cover;
        height: 520px; }

  .revists {
    margin-top: 75px; }
    .revists .container__revists .container__revists-left {
      display: none; }
    .revists .container__revists .container__revists-right {
      padding: 0 20px;
      border-bottom: none; }
      .revists .container__revists .container__revists-right .revists__content .revists__text-wrap .revists-text-title {
        left: -16px;
        top: -23px; }
      .revists .container__revists .container__revists-right .container__revists-photo {
        height: auto;
        margin-top: 40px; }
        .revists .container__revists .container__revists-right .container__revists-photo img {
          width: 100%;
          height: 400px; }
      .revists .container__revists .container__revists-right .revists__text-wrap-second {
        margin-bottom: 0; }

  .related {
    margin-top: 70px; }
    .related .container__related {
      margin-bottom: 70px; }
      .related .container__related .container__related-title {
        color: #000000;
        font-family: "EB Garamond", serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
        text-align: center; }
      .related .container__related .related__content {
        padding-top: 50px; }
        .related .container__related .related__content .blog__col {
          padding: 0; }
          .related .container__related .related__content .blog__col:nth-child(2) {
            display: none; }
          .related .container__related .related__content .blog__col:nth-child(3) {
            display: none; }
          .related .container__related .related__content .blog__col .blog__content {
            padding: 0 20px; }
          .related .container__related .related__content .blog__col .blog__items .blog__header:after {
            content: none;
            display: none; } }
h2.section__title {
  color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 48px;
  line-height: 55px; }

.section__container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto; }

.contact {
  width: 100%;
  margin-top: 80px; }
  .contact .section__container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 80px; }
    .contact .section__container .contact__us {
      margin-top: 50px; }
      .contact .section__container .contact__us label {
        font-family: "Nunito Sans", sans-serif;
        display: block;
        margin-bottom: 12px; }
      .contact .section__container .contact__us .container__input {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin-top: 25px; }
        .contact .section__container .contact__us .container__input:first-child {
          margin-top: 0; }
        .contact .section__container .contact__us .container__input .container__input-row {
          width: 50%; }
          .contact .section__container .contact__us .container__input .container__input-row:first-child {
            padding-right: 10px; }
          .contact .section__container .contact__us .container__input .container__input-row:not(.select):last-child {
            padding-left: 10px; }
        .contact .section__container .contact__us .container__input .container__input-message {
          width: 100%;
          height: auto; }
        .contact .section__container .contact__us .container__input .input {
          font-family: "Nunito Sans", sans-serif;
          height: 40px;
          width: 100%;
          border: 1px solid #D4D4D4;
          padding-left: 15px;
          background-color: #ffffff; }
        .contact .section__container .contact__us .container__input .input__message {
          height: 120px;
          width: 100%;
          border: 1px solid #D4D4D4;
          text-align: start;
          padding: 15px; }
      .contact .section__container .contact__us .btn {
        margin-top: 40px; }
        .contact .section__container .contact__us .btn .btn-contact {
          display: block;
          height: 60px;
          width: 180px;
          background-color: #000000;
          color: white;
          padding: 0 37px;
          text-decoration: none;
          text-align: center; }
          .contact .section__container .contact__us .btn .btn-contact span {
            color: #FFFFFF;
            font-family: "Nunito Sans", sans-serif;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 60px;
            text-align: center;
            text-transform: uppercase; }

.also {
  width: 100%;
  margin-top: 80px; }
  .also .section__container {
    padding-bottom: 160px; }
    .also .section__container .also__content {
      margin-top: 70px;
      display: flex;
      width: 100%; }
      .also .section__container .also__content .also__item {
        width: 33.33333%; }
        .also .section__container .also__content .also__item .also__subtitle {
          font-family: "EB Garamond", serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 10px; }
        .also .section__container .also__content .also__item .also__text {
          display: block;
          margin-top: 45px;
          font-family: "Nunito Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 10px;
          color: #888888; }
          .also .section__container .also__content .also__item .also__text:nth-child(3) {
            margin-top: 30px; }
        .also .section__container .also__content .also__item .also__social {
          position: relative;
          width: 32px;
          height: 32px;
          margin-right: 15px;
          background: #000;
          cursor: pointer;
          padding: 8px 10px; }
          .also .section__container .also__content .also__item .also__social img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain; }
        .also .section__container .also__content .also__item .social__container {
          margin-top: 45px;
          width: 100%;
          display: flex;
          flex-flow: row; }

@media screen and (min-width: 1600px) {
  .section__container {
    max-width: 720px; } }
@media screen and (min-width: 320px) and (max-width: 720px) {
  .header {
    top: 0; }

  .contact {
    width: 100%;
    margin-top: 60px; }
    .contact .section__container {
      max-width: none;
      padding: 0 20px;
      padding-bottom: 70px;
      margin-bottom: 70px; }
      .contact .section__container .section__title {
        font-size: 35px; }
      .contact .section__container .contact__us .container__input {
        flex-flow: column;
        width: 100%;
        margin: 0; }
        .contact .section__container .contact__us .container__input .select {
          margin-bottom: 25px;
          width: 100%;
          padding: 0; }
        .contact .section__container .contact__us .container__input .container__input-row {
          width: 100%;
          padding: 0 !important;
          margin-bottom: 25px; }
          .contact .section__container .contact__us .container__input .container__input-row:first-child {
            width: 100%; }
          .contact .section__container .contact__us .container__input .container__input-row:nth-child(2) {
            padding-left: 0; }
          .contact .section__container .contact__us .container__input .container__input-row:nth-child(1) {
            padding: 0; }
      .contact .section__container .contact__us .btn {
        width: 100%;
        display: flex;
        justify-content: center; }
        .contact .section__container .contact__us .btn .btn-contact {
          width: 100%; }

  .also .section__container {
    width: 100%;
    padding: 0 20px; }
    .also .section__container .section__title {
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 35px;
      line-height: 40px; }
    .also .section__container .also__content {
      display: flex;
      flex-flow: column; }
      .also .section__container .also__content .also__item {
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 35px; }
        .also .section__container .also__content .also__item:nth-child(3) {
          border-bottom: none; }
        .also .section__container .also__content .also__item .also__text {
          margin-bottom: 36px; }
        .also .section__container .also__content .also__item .also__social {
          width: 40px;
          height: 40px; } }
.about_us {
  width: 100%; }
  .about_us .container__about_us {
    width: 100%;
    flex-flow: row nowrap;
    height: auto; }
    .about_us .container__about_us .container__about-title {
      margin: 0 auto;
      margin-top: 160px;
      display: flex;
      flex-flow: row nowrap;
      max-width: 420px; }
      .about_us .container__about_us .container__about-title .about__title {
        color: #000000;
        font-family: "EB Garamond", serif;
        font-size: 35px;
        line-height: 40px;
        text-align: center; }
    .about_us .container__about_us .container__about-content {
      display: flex;
      width: 100%;
      margin: 0 auto;
      margin-top: 70px;
      max-width: 1000px; }
      .about_us .container__about_us .container__about-content .about-us__content {
        margin-top: 190px;
        width: 50%; }
        .about_us .container__about_us .container__about-content .about-us__content .about-us__title {
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 35px;
          line-height: 40px;
          padding-left: 10px; }
        .about_us .container__about_us .container__about-content .about-us__content .about-us__subtitle {
          margin-top: 30px;
          color: #000000;
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          max-width: 360px; }
        .about_us .container__about_us .container__about-content .about-us__content .about-us__text {
          margin-top: 15px;
          color: #888888;
          font-family: "Nunito Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          max-width: 360px; }
    .about_us .container__about_us .about__image {
      width: 50%; }
      .about_us .container__about_us .about__image img {
        width: 100%;
        object-fit: cover;
        max-width: 520px; }

.container__story {
  height: auto;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px; }
  .container__story .story__content {
    width: 50%;
    margin: 0 auto;
    margin-left: 120px;
    margin-top: 100px; }
    .container__story .story__content .story__title {
      color: #000000;
      font-family: "EB Garamond", serif;
      font-size: 35px;
      line-height: 40px; }
    .container__story .story__content .story__text {
      margin-top: 15px;
      color: #888888;
      font-family: "Nunito Sans", sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      max-width: 360px; }
  .container__story .story__photo {
    width: 50%; }
    .container__story .story__photo img {
      object-fit: cover;
      max-width: 510px; }

.approach {
  width: 100%; }
  .approach .container__approach {
    width: 100%;
    flex-flow: row nowrap;
    height: auto; }
    .approach .container__approach .container__approach-content {
      display: flex;
      width: 100%;
      margin-top: 80px; }
      .approach .container__approach .container__approach-content .approach__content {
        margin: 0 auto;
        margin-top: 170px;
        width: 50%;
        max-width: 360px; }
        .approach .container__approach .container__approach-content .approach__content .approach__title {
          color: #000000;
          font-family: "EB Garamond", serif;
          font-size: 35px;
          line-height: 40px;
          padding-left: 10px; }
        .approach .container__approach .container__approach-content .approach__content .approach__text {
          margin-top: 15px;
          color: #888888;
          font-family: "Nunito Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          max-width: 360px; }
    .approach .container__approach .approach__image {
      width: 50%;
      display: flex;
      overflow: hidden; }
      .approach .container__approach .approach__image img {
        width: 100%;
        object-fit: cover; }

@media screen and (max-width: 1024px) {
  .about_us .container__about_us {
    width: 100%; }
    .about_us .container__about_us .container__about-content {
      max-width: 700px; }
      .about_us .container__about_us .container__about-content .about-us__content {
        margin-top: 0; }
        .about_us .container__about_us .container__about-content .about-us__content .about-us__subtitle {
          max-width: 300px; }
        .about_us .container__about_us .container__about-content .about-us__content .about-us__text {
          max-width: 300px; }

  .story {
    width: 100%; }
    .story .container__story {
      max-width: 700px; }
      .story .container__story .story__photo img {
        width: 100%;
        max-width: 355px; }

  .approach .container__approach {
    width: 100%; }
    .approach .container__approach .container__approach-content .approach__content {
      margin-top: 0;
      max-width: 340px;
      padding-left: 75px; }

  .art {
    margin: 0 auto;
    width: 100%;
    max-width: 950px; }
    .art .art__text_wrap {
      margin-top: 70px; }
    .art .art__container {
      width: 100%; }
      .art .art__container .art__item {
        max-width: 185px; }
        .art .art__container .art__item img {
          width: 100%;
          max-width: 200px;
          max-height: 190px; } }
@media screen and (max-width: 720px) {
  .about_us {
    width: 100%; }
    .about_us .container__about_us .container__about-title {
      display: none; }
    .about_us .container__about_us .container__about-content {
      flex-flow: column; }
      .about_us .container__about_us .container__about-content .about-us__content {
        padding: 0 20px;
        width: 100%; }
        .about_us .container__about_us .container__about-content .about-us__content .about-us__text {
          margin-bottom: 40px; }
    .about_us .container__about_us .about__image {
      width: 100%;
      padding-left: 20px; }

  .art .art__container .art__item {
    max-width: 135px; }

  .story .container__story {
    flex-flow: column-reverse;
    margin-top: 0; }
    .story .container__story .story__content {
      margin-left: 20px;
      max-width: 280px;
      margin-top: 70px;
      width: 100%; }
    .story .container__story .story__photo {
      padding-right: 20px;
      margin-top: 58px;
      width: 100%; }

  .approach .container__approach .container__approach-content {
    flex-flow: column; }
    .approach .container__approach .container__approach-content .approach__content {
      width: 100%;
      padding: 0 20px; }
    .approach .container__approach .container__approach-content .approach__image {
      margin-top: 50px;
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
